body{
	margin :0;
	padding :100px;
	background: url("background.jpg");
	background-size: cover;
	background-position: center;


}

.box{
	width: 320px;
	height: 420px;
	background: #000;
	color: #fff;
	top: 50%
	left:100%;
	position: absolute;
	/*transform: translate(-50%,-50%);*/
	box-sizing: border-box;
	padding:30px 30px;

}

h1{
	text-align: center;
}

li{
	margin-bottom: 30px;
}